In [1]:
# Custom geographic K-means function
from geo_kmeans import *

# Standard Python libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn
import numpy as np
%matplotlib inline

In [2]:
# Create a Dataframe 
df = pd.read_csv("tz.csv", low_memory=False)

In [3]:
# Check for missing values and miscast data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 602937 entries, 0 to 602936
Data columns (total 8 columns):
lat          602937 non-null float64
lng          602937 non-null float64
desc         602937 non-null object
zip          526206 non-null float64
title        602937 non-null object
timeStamp    602937 non-null object
twp          602583 non-null object
e            602937 non-null int64
dtypes: float64(3), int64(1), object(4)
memory usage: 36.8+ MB

In [4]:
# Examine head of the DataFrame
df.head()

,lat,lng,desc,zip,title,timeStamp,twp,e
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:40:00,NEW HANOVER,1
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:40:00,HATFIELD TOWNSHIP,1
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 17:40:00,NORRISTOWN,1
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 17:40:01,NORRISTOWN,1
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 17:40:01,LOWER POTTSGROVE,1

In [5]:
# Create new DataFrame containing Latitude and Longitude for simplicity
X = df[['lat', 'lng']]

In [6]:
X.head()

         lat        lng
0  40.297876 -75.581294
1  40.258061 -75.264680
2  40.121182 -75.351975
3  40.116153 -75.343513
4  40.251492 -75.603350

In [7]:
# Drop missing values
X = X.dropna()
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 602937 entries, 0 to 602936
Data columns (total 2 columns):
lat    602937 non-null float64
lng    602937 non-null float64
dtypes: float64(2)
memory usage: 13.8 MB

In [ ]:
# Call custom geographic K-means function
centroids, clusters = k_means(X, k=5)
centroids

In [ ]:
# Convert cenroid tuples into DataFrame for easier manipulation
centroid_df = pd.DataFrame(centroids, columns=['lat', 'lng'])
centroid_df